<h2>Uredi profil</h2>

<form *ngIf="!loading" (ngSubmit)="save()">

  <label>Ime</label>
  <input type="text" [(ngModel)]="gradjanin.ime" name="ime" />

  <label>Prezime</label>
  <input type="text" [(ngModel)]="gradjanin.prezime" name="prezime" />

  <label>JMBG</label>
  <input type="text" [(ngModel)]="gradjanin.jmbg" name="jmbg" />

  <label>Radni status</label>
  <select
    [(ngModel)]="gradjanin.radniStatus"
    name="status">

    <option [ngValue]="RadniStatus.ZAPOSLEN">
      Zaposlen
    </option>

    <option [ngValue]="RadniStatus.NEZAPOSLEN">
      Nezaposlen
    </option>

    <option [ngValue]="RadniStatus.STUDENT">
      Student
    </option>

  </select>


  <button type="submit">Sačuvaj</button>
</form>

<div *ngIf="loading">Učitavanje...</div>
