.admin-table {
  display: inline-block;
  margin-top: 3px;
  padding: 5px 18px;
  background-color: #7fb2cc;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
