<h2 class="profil-title">Profil građanina</h2>

<table class="profil-table" *ngIf="gradjanin && !loading">
  <tr>
    <th>Ime</th>
    <td>{{ gradjanin.ime }}</td>
  </tr>
  <tr>
    <th>Prezime</th>
    <td>{{ gradjanin.prezime }}</td>
  </tr>
  <tr>
    <th>JMBG</th>
    <td>{{ gradjanin.jmbg || 'Nije unesen' }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ gradjanin.radniStatus }}</td>
  </tr>
  <tr>
    <th>Oblast zainteresovanosti</th>
    <td>{{ gradjanin.oblastZainteresovanosti || 'Nije definisano' }}</td>
  </tr>
</table>
<div class="profil-actions" *ngIf="!loading">
  <button (click)="onEdit()" class="btn-edit">Dopuni profil</button>

  <button (click)="onZatraziPotvrdu()" class="btn-primary">
    Zatraži potvrdu o nezaposlenosti
  </button>

  <button
    *ngIf="gradjaninSaPotvrdom?.imaPotvrdu"
    (click)="preuzmiPotvrdu()"
    class="btn-primary">
    Preuzmi potvrdu
  </button>

  <h2>Moje prijave na oglase</h2>
  <div *ngIf="mojePrijave.length === 0">Nemate nijednu prijavu.</div>
  <div *ngFor="let p of mojePrijave" class="prijava-card">
    <p><strong>{{ p.nazivPozicije }}</strong> - {{ p.nazivKompanije }}</p>
    <p>Datum prijave: {{ p.datumPrijave | date:'dd.MM.yyyy' }}</p>
    <p>Status: {{ p.status }}</p>
    <p *ngIf="p.razlogOdbijanja">Razlog odbijanja: {{ p.razlogOdbijanja }}</p>
    <hr />
  </div>


</div>

<div *ngIf="loading">Učitavanje...</div>
