.btn {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}


.btn button {
  background-color: #7fb2cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}


.btn button:hover {
  background-color: #3a6b8c;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
