

<div *ngIf="authService.isGradjanin()">

  <h2 *ngIf="preporuke.length > 0">
    Preporučeni oglasi,
    <span *ngIf="gradjanin?.oblastZainteresovanosti">
      vezani za oblast: {{ gradjanin?.oblastZainteresovanosti }}
    </span>
  </h2>

  <div *ngIf="preporuke.length === 0">
    <p>Trenutno nema preporučenih oglasa. Molimo dopunite svoj profil!</p>
  </div>

  <div class="oglasi-list" *ngIf="preporuke.length > 0">
    <div class="oglas-card" *ngFor="let oglas of preporuke">
      <h3>{{ oglas.nazivPozicije }}</h3>
      <p class="tip">Tip: {{ oglas.tipOglasa }}</p>
      <p class="kompanija">Kompanija: {{ oglas.nazivKompanije }}</p>
      <p class="opis">Opis: {{ oglas.opis }}</p>
      <div class="oglas-footer">
        <span class="rok">
          Rok prijave: {{ oglas.rokPrijave | date:'dd.MM.yyyy' }}
        </span>
      </div>
    </div>
  </div>

  <hr />
</div>

<h2>OGLASI</h2>

<div class="search-box">
  <input
    type="text"
    placeholder="Naziv pozicije"
    [(ngModel)]="nazivPozicije"
  />

  <select [(ngModel)]="tipOglasa">
    <option [ngValue]="undefined">Tip oglasa</option>
    <option *ngFor="let t of tipoviOglasa" [ngValue]="t">
      {{ t }}
    </option>
  </select>

  <button (click)="pretrazi()">Pretraži</button>
  <button (click)="reset()">Reset</button>
</div>
<hr />
<button class="btn" *ngIf="authService.isPoslodavac()"  (click)="openDodajModal()">Dodaj oglas</button>

<div class="modal" *ngIf="showDodajForm">
  <div class="modal-content">
    <span class="close" (click)="closeDodajModal()">&times;</span>

    <app-dodaj-oglas (oglasDodat)="osveziListu()"></app-dodaj-oglas>
  </div>
</div>
<div class="oglasi-list">
  <div class="oglas-card" *ngFor="let oglas of oglasi">
    <div class="oglas-header">
      <h3>{{ oglas.nazivPozicije }}</h3>
      <p class="tip">Tip oglasa: {{ oglas.tipOglasa }}</p>
      <p class="kompanija">Kompanija: {{ oglas.nazivKompanije }}</p>
      <p class="opis">Opis: {{ oglas.opis }}</p>
      <p class="opis">Oblast: {{ oglas.oblast }}</p>
      <div class="oglas-footer">
      <span class="datum">Objavljeno: {{ oglas.datumObjave | date:'dd.MM.yyyy' }}</span>
      <span class="rok">Rok prijave: {{ oglas.rokPrijave | date:'dd.MM.yyyy' }}</span>
        <button
          *ngIf="authService.isGradjanin()"
          class="btn-prijava"
          (click)="prijaviSe(oglas.idOglasa)"
          [disabled]="jePrijavljen(oglas.idOglasa)"
        >
          {{ jePrijavljen(oglas.idOglasa) ? 'Već ste prijavljeni' : 'Prijavi se' }}
        </button>

        <!-- Status prijave ispod dugmeta -->
        <span *ngIf="jePrijavljen(oglas.idOglasa)">
  Status: {{ statusPrijave(oglas.idOglasa) }}
</span>

      </div>
    </div>
  </div>
</div>
