<nav class="app-navbar">
  <div class="app-navbar__left">
    <a class="app-navbar__brand" routerLink="/app">eUprava</a>


    <ng-container *ngIf="isStudent">
      <a class="app-navbar__link" routerLink="/app/prijava-ispita">Prijava ispita</a>
      <a class="app-navbar__link" routerLink="/app/fakultet">Fakultet</a>
      <a class="app-navbar__link" routerLink="/app/diplomiranje">Diplomiranje</a>
      <a class="app-navbar__link" routerLink="/app/uverenja">Uverenja</a>
    </ng-container>


    <a
      *ngIf="isDiplomirani()"
      class="app-navbar__link"
      routerLink="/app/oglasi"
    >
      Oglasi
    </a>

    <a
      *ngIf="isProfesor"
      class="app-navbar__link app-navbar__link--admin"
      routerLink="/app/sluzba"
    >
      Izvestaj
    </a>
  </div>

  <div class="app-navbar__right">
    <button *ngIf="isProfesor" class="app-navbar__btn" (click)="posaljiDiplomirane()">
      Pošalji diplomirane
    </button>

    <button
      *ngIf="canSwitchSystem()"
      class="app-navbar__btn"
      (click)="router.navigate(['/izbor-sistema'])">
      Promeni sistem
    </button>

  <button class="app-navbar__btn" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
