<form [formGroup]="registracijaForm" (ngSubmit)="submit()">

  <div class="form-control">
    <label for="ime">Ime</label>
    <input id="ime" formControlName="ime" placeholder="Unesite ime">
  </div>

  <div class="form-control">
    <label for="prezime">Prezime</label>
    <input id="prezime" formControlName="prezime" placeholder="Unesite prezime">
  </div>

  <div class="form-control">
    <label for="korisnickoIme">Korisničko ime</label>
    <input id="korisnickoIme" formControlName="korisnickoIme" placeholder="Unesite korisničko ime">
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" placeholder="Unesite email">
  </div>

  <div class="form-control">
    <label for="lozinka">Lozinka</label>
    <input id="lozinka" type="password" formControlName="lozinka" placeholder="Unesite lozinku">
  </div>

  <div class="form-control">
    <label>Uloge</label>

    <div>
      <input type="checkbox"
             (change)="onRoleChange($event)"
             value="ROLE_STUDENT">
      Student
    </div>

    <div>
      <input type="checkbox"
             (change)="onRoleChange($event)"
             value="ROLE_GRADJANIN">
      Građanin
    </div>

    <div>
      <input type="checkbox"
             (change)="onRoleChange($event)"
             value="ROLE_POSLODAVAC">
      Poslodavac
    </div>
  </div>

  <button type="submit">Registruj se</button>
</form>
